@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо до бібліотеки!</h1>
    <p>Ваш надійний помічник у світі книг.</p>

    @if (ViewBag.IsAuthenticated == true)
    {
        <div class="alert alert-info">
            <h4>Привіт, @ViewBag.User?.FirstName @ViewBag.User?.LastName!</h4>
            <p>Ви увійшли в систему. Можете переглядати книги та створювати замовлення.</p>
            <a asp-controller="Books" asp-action="Index" class="btn btn-primary">Переглянути книги</a>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Новий користувач?</h5>
                        <p class="card-text">Зареєструйтесь, щоб мати доступ до всіх функцій бібліотеки.</p>
                        <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Реєстрація</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Вже маєте акаунт?</h5>
                        <p class="card-text">Увійдіть у свій обліковий запис.</p>
                        <a asp-controller="Account" asp-action="Login" class="btn btn-success">Увійти</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <h3>📚 Великий вибір книг</h3>
        <p>У нашій бібліотеці ви знайдете книги різних жанрів та авторів.</p>
    </div>
    <div class="col-md-4">
        <h3>🔍 Зручний пошук</h3>
        <p>Легко знаходьте потрібні книги за допомогою фільтрів та пошуку.</p>
    </div>
    <div class="col-md-4">
        <h3>📖 Онлайн замовлення</h3>
        <p>Замовляйте книги онлайн та отримуйте їх у зручний час.</p>
    </div>
</div>